<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-color: antiquewhite;
            width: 90%;
        }
        p{
            margin-left: 2%;
            width: 60%;
            text-align: left;
        }

    </style>
</head>
<body>
<div class="about"><br>
    <center><h1>About Page</h1>
        <hr style="width: 200px;"></center>
       <center><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Quos reprehenderit voluptas ipsum eveniet. Sint, illo, in esse 
            quis impedit ex tempore dignissimos odio possimus dolore quisquam molestias 
            sit, non recusandae.</p>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, 
            aliquam totam? Perferendis temporibus vel, beatae enim ad nulla rem 
            non asperiores velit! Assumenda adipisci natus hic blanditiis aspernatur nisi placeat.

            </p></center> 
    
</div>
</body>
</html>